@import './tokens';

.TimelineContainer {
    position: relative;
    display: flex;
    gap: $gap;
    width: 100%;

    &.right {
        justify-content: flex-end;
    }

    &.center {
        justify-content: center;
    }
}


