.NavBar {
    background-color: #00645a;
}

.NavBar div {
    align-self: stretch;
}

.NavBar .NavButton {
    height: max-content;
}

.NavBar .NavButton.CurrentSection {
    color: #f4f1f4 !important;
}

.NavBar .NavToggle {
    height: 100%;
}

.NavBar .NavToggle svg {
    transform: scale(1.5);
}
